---
import '@fortawesome/fontawesome-svg-core/styles.css'
import type { IconDefinition } from '@fortawesome/fontawesome-svg-core';
import { icon } from '@fortawesome/fontawesome-svg-core';

interface Props {
	icon: IconDefinition
  brand: string;
	href: string;
}

const { href, brand} = Astro.props;
const  iconHtml  = icon(Astro.props.icon).html;
---

<div class="dot">
  <a href={href} aria-label=`to ${brand}`>
		<i class='fa-3x' set:html={iconHtml}></i>
	</a>
</div>

<style>
	.dot {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
  }
  .dot a {
    color: white;
  }
  .dot a:is(:hover, :focus-within) {
    color: rgb(var(--accent-light));
    transition: color 150ms ease-in;
  }
</style>
