---
interface Props {
	brand: string;
	href: string;
}

const { href, brand } = Astro.props;
---

<div class="dot">
  <a href={href} aria-label=`to ${brand}`>
		<i class:list={['fa-3x', 'fa-brands', `fa-${brand}`]}></i>
	</a>
</div>

<style>
	.dot {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
  }
  .dot a {
    color: white;
  }
  .dot a:is(:hover, :focus-within) {
    color: rgb(var(--accent-light));
    transition: color 150ms ease-in;
  }
</style>
