---
import Layout from '../layouts/Layout.astro';
import SocialBubble from '../components/SocialBubble.astro';
// import the Image component and the image
import { Image } from 'astro:assets';
import CardGrid from '../components/CardGrid.astro'
// import custom scripts
import  loadRepositories  from '../scripts/loadRepositories.js';

const repos = await loadRepositories();
---

<Layout title="Cedric Ahlers">
	<main>
		<div class="profile-picture">
			<Image
				src="/images/profile-picture.jpg"
				alt="Cedric Ahlers"
				width="1659"
				height="2034"
				loading="eager"
			/>
		</div>
		<h1>Nice to meet you 👋🏻 </br>I'm <span class="text-gradient">Cedric</span></h1>
		<div class="social-link-grid">
			<ul role="list">
				<SocialBubble
					brand="github"
					href="https://github.com/clowa"
				/>
				<SocialBubble
					brand="stack-overflow"
					href="https://stackoverflow.com/users/13078586"
				/>
				<SocialBubble
					brand="paypal"
					href="https://paypal.me/cedricahlers"
				/>
			</ul>
		</div>
		<div id="quote-loader" class="loader"></div>
		<p id="quote" class="quote animate-bottom" style="display:none;">
			<a id="quote-text" role="article" aria-label="Quote of the day"></a></br><strong><a id="quote-author" role="article" aria-label="Author of the quote of the day"></a></strong>
		</p>
		<CardGrid
			title="My recent GitHub repositories"
			cards={repos.map((repo: { name: any; description: any; html_url: any }) => ({
				title: repo.name,
				body: repo.description,
				href: repo.html_url
		}))}
		>
	</main>
</Layout>

<script src="../scripts/loadQuote.js"></script>

<style>
	/* General */
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	/* Profile Picture */
	.profile-picture {
    display: grid;
    align-items: center;
    justify-items: center;
  }
  .profile-picture img {
    border-radius: 25%;
		width: 100%;
		max-width: 416px;
		height: auto;
  }
	/* Loading animation */
	.loader {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		border: 4px solid white;
		border-top: 4px solid rgb(var(--accent-light));
		border-radius: 50%;
		width: 40px;
		height: 40px;
		animation: spin 2s linear infinite;
	}
	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
	/* Loaded content animation */
	.animate-bottom {
		position: relative;
		-webkit-animation-name: animatebottom;
		-webkit-animation-duration: 1s;
		animation-name: animatebottom;
		animation-duration: 1s
	}
	@-webkit-keyframes animatebottom {
		from { bottom:-100px; opacity:0 } 
		to { bottom:0px; opacity:1 }
	}
	@keyframes animatebottom { 
		from{ bottom:-100px; opacity:0 } 
		to{ bottom:0; opacity:1 }
	}
	/* Quote text */
	.quote {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.quote code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.quote strong {
		color: rgb(var(--accent-light));
	}
	/* Social Links */
	.social-link-grid {
		text-align: center;
	}
	.social-link-grid ul {
		display: inline-flex;
		gap: 2rem;
		padding: 0;
	}
</style>
